<ion-view view-title="Administering to the Sick">
  <ion-content>
    <h2>Anointing with Oil</h2>

    <p>The anointing is done by one Melchizedek Priesthood holder. He:</p>
    <ul>
      <li>Puts a drop of consecrated oil on the person’s head.</li>
      <li>Places his hands lightly on the person’s head and calls the person by his or her full name.</li>
      <li>States that he is acting by the authority of the Melchizedek Priesthood.</li>
      <li>States that he is anointing with oil that has been consecrated for anointing and blessing the sick and afflicted.</li>
      <li>Closes in the name of Jesus Christ.</li>
    </ul>

    <h2>Sealing the Anointing</h2>

    <p>Normally, two or more Melchizedek Priesthood holders place their hands lightly on the head of the person. The one who seals the anointing:</p>
    <ul>
      <li>Calls the person by his or her full name.</li>
      <li>States that he is sealing the anointing by the authority of the Melchizedek Priesthood.</li>
      <li>Gives words of blessing as the Spirit directs.</li>
      <li>Closes in the name of Jesus Christ.</li>
    </ul>

    <p>Only Melchizedek Priesthood holders may administer to the sick or afflicted. Normally two or more priesthood holders administer to the sick, but one may perform both the anointing and the sealing alone if necessary. If consecrated oil is not available, a blessing may nevertheless be given by the authority of the priesthood without the anointing.</p>

    <p>A father who holds the Melchizedek Priesthood normally should administer to sick members of his family.</p>

    <p>Brethren should administer to the sick at the request of the sick person or of those who are vitally concerned so the blessing will be according to their faith (see D&C 24:13–14; 42:43–44, 48–52). Melchizedek Priesthood holders who visit hospitals should not solicit opportunities to administer to the sick.</p>

    <p>If a person requests more than one blessing for the same illness, the priesthood holder need not anoint with oil after the first blessing. Instead, he gives a blessing by the laying on of hands and the authority of the Melchizedek Priesthood.</p>

    <p>Administering to the sick has two parts: anointing with oil and sealing the anointing.</p>
  </ion-content>
</ion-view>
